In [1]:
# Import Dependencies 
import pandas as pd

In [ ]:
# Get Data
data_path = "Output/movies_cleaned2.csv"
df = pd.read_csv(data_path)

In [10]:
# Get Survey Data
sd_df = pd.read_csv('Resources/Survey_Mood_MovieGenre.csv')
sd_df.head()

,ID,Age,Mood,Movie_1,Movie_2,Movie_3,Movie_4,Movie_5,Movie_1_genre,Movie_2_genre,Movie_3_genre,Movie_4_genre,Movie_5_genre
0,1,18 +,Happy,Fifty first dates,What they do in the shadows,Avatar,About time,James Bond,Comedy,Comedy,Action,Comedy,Action
1,2,18 +,Inspired,I am legend,Aladdin,A quiet place,World War Z,Coco,Drama,Animation,Fantasy,Action,Animation
2,3,18 +,Thrilled,Straight outta Compton,rabbit proof fence,hunger games,never stop stopping,gone girl,Drama,Drama,Fantasy,Comedy,Mystery
3,4,18 +,Happy,King Richard,Rocket man,the kings man,Xanadu,the bodyguard,History,History,Action,Fantasy,Thriller
4,5,18 +,Happy,2 fast 2 furious,hacksaw ridge,pirates of the Caribbean,the big short,white chicks,Action,War,Thriller,Comedy,Comedy

In [15]:
# Function to Collate all the data based on column name 
def merge_profile(df, movie, genre):
    movie_col = "Movie_" + movie
    genre_col = "Movie_" + genre + '_genre'


    # pick the columns from the dataframe 
    df_merge = df[['ID','Mood','Age',movie_col,genre_col]]

    df_merge = df_merge.rename(columns = {movie_col:'title',genre_col:'genre'})

    return df_merge

   ID      Mood   Age                   title    genre
0   1     Happy  18 +       Fifty first dates   Comedy
1   2  Inspired  18 +             I am legend    Drama
2   3  Thrilled  18 +  Straight outta Compton    Drama
3   4     Happy  18 +            King Richard  History
4   5     Happy  18 +        2 fast 2 furious   Action

In [27]:
# Iterate through survey data and merge 

# Initiate empty list to store 
data_lst = []

# Iterate through 5 times as we know we have a static number of columns
for x in range(4):
    # Ensure list is clear, no residual data
    data_lst.clear()

    # Calling function and filling up list
    df_ = merge_profile(sd_df,str(x+1),str(x+1))
    data_lst.append(df_.values.tolist())

# re-instate dataframe 
merged_df = pd.DataFrame(data_lst[0],columns = ['id','mood','age','title','genre'])

[1, 'Happy', '18 +', 'About time', 'Comedy']

    id       mood   age                title    genre
0    1      Happy  18 +           About time   Comedy
1    2   Inspired  18 +          World War Z   Action
2    3   Thrilled  18 +  never stop stopping   Comedy
3    4      Happy  18 +               Xanadu  Fantasy
4    5      Happy  18 +        the big short   Comedy
..  ..        ...   ...                  ...      ...
93  94  Emotional  18 +          remember me    Drama
94  95  Emotional  18 +          Jojo rabbit      War
95  96  Emotional  18 +          remember me    Drama
96  97  Emotional  18 +           about time   Comedy
97  98   Romantic  18 +        cool runnings   Comedy

[98 rows x 5 columns]