In [17]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [18]:
# Read the csv file into a pandas DataFrame

data_df = pd.read_csv('Resources/movies_cleaned3.csv')
data_df.head(3)

,id,original_title,release_year,genre,overview,runtime,vote_average,keywording,original_language,prod_companies,prod_countries,release_date,budget,revenue,popularity,languages_spoken,casting
0,19995,Avatar,2009,"Action,Adventure,Fantasy,Science Fiction","In the 22nd century, a paraplegic Marine is di...",162,7.2,"culture clash,future,space war,space colony,so...",en,"Ingenious Film Partners,Twentieth Century Fox ...","United States of America,United Kingdom",##############################################...,237000000,2787965087,150.437577,"English,Espaol","Sam Worthington,Zoe Saldana,Sigourney Weaver,S..."
1,285,Pirates of the Caribbean At World's End,2007,"Adventure,Fantasy,Action","Captain Barbossa, long believed to be dead, ha...",169,6.9,"ocean,drug abuse,exotic island,east india trad...",en,"Walt Disney Pictures,Jerry Bruckheimer Films,S...",United States of America,##############################################...,300000000,961000000,139.082615,English,"Johnny Depp,Orlando Bloom,Keira Knightley,Stel..."
2,206647,Spectre,2015,"Action,Adventure,Crime",A cryptic message from Bonds past sends him on...,148,6.3,"spy,based on novel,secret agent,sequel,mi6,bri...",en,"Columbia Pictures,Danjaq,B24","United Kingdom,United States of America",##############################################...,245000000,880674609,107.376788,"Franais,English,Espaol,Italiano,Deutsch","Daniel Craig,Christoph Waltz,La Seydoux,Ralph ..."

In [19]:
#check column names
data_df.columns

Index(['id', 'original_title', 'release_year', 'genre', 'overview', 'runtime',
       'vote_average', 'keywording', 'original_language', 'prod_companies',
       'prod_countries', 'release_date', 'budget', 'revenue', 'popularity',
       'languages_spoken', 'casting'],
      dtype='object')

In [20]:
#Drop out columns and choose "release_year", 'prod_companies','revenue'
data_df=data_df[['release_year','prod_companies','revenue']]
data_df

,release_year,prod_companies,revenue
0,2009,"Ingenious Film Partners,Twentieth Century Fox ...",2787965087
1,2007,"Walt Disney Pictures,Jerry Bruckheimer Films,S...",961000000
2,2015,"Columbia Pictures,Danjaq,B24",880674609
3,2012,"Legendary Pictures,Warner Bros.,DC Entertainme...",1084939099
4,2012,Walt Disney Pictures,284139100
...,...,...,...
3091,2014,"Automatik Entertainment,Low Spark Films,Signal...",600896
3092,2009,NaN,10000
3093,1994,"Miramax Films,View Askew Productions",3151130
3094,1972,Dreamland Productions,6000000
3095,2004,Thinkfilm,424760

In [21]:
#Drop all Null value
data_df=data_df.dropna()
data_df

,release_year,prod_companies,revenue
0,2009,"Ingenious Film Partners,Twentieth Century Fox ...",2787965087
1,2007,"Walt Disney Pictures,Jerry Bruckheimer Films,S...",961000000
2,2015,"Columbia Pictures,Danjaq,B24",880674609
3,2012,"Legendary Pictures,Warner Bros.,DC Entertainme...",1084939099
4,2012,Walt Disney Pictures,284139100
...,...,...,...
3090,2010,Tiny Ponies,416498
3091,2014,"Automatik Entertainment,Low Spark Films,Signal...",600896
3093,1994,"Miramax Films,View Askew Productions",3151130
3094,1972,Dreamland Productions,6000000
3095,2004,Thinkfilm,424760

In [22]:
#Fix up the index
data_df=data_df.reset_index()
data_df

,index,release_year,prod_companies,revenue
0,0,2009,"Ingenious Film Partners,Twentieth Century Fox ...",2787965087
1,1,2007,"Walt Disney Pictures,Jerry Bruckheimer Films,S...",961000000
2,2,2015,"Columbia Pictures,Danjaq,B24",880674609
3,3,2012,"Legendary Pictures,Warner Bros.,DC Entertainme...",1084939099
4,4,2012,Walt Disney Pictures,284139100
...,...,...,...,...
3054,3090,2010,Tiny Ponies,416498
3055,3091,2014,"Automatik Entertainment,Low Spark Films,Signal...",600896
3056,3093,1994,"Miramax Films,View Askew Productions",3151130
3057,3094,1972,Dreamland Productions,6000000
3058,3095,2004,Thinkfilm,424760

In [23]:
#Check the columns name
data_df.columns

Index(['index', 'release_year', 'prod_companies', 'revenue'], dtype='object')

In [24]:
#Split the 'prod_companies' by commas and expand into new columns
data_1=data_df['prod_companies'].str.split(',',n=6,expand=True)
data_1

,0,1,2,3,4,5,6
0,Ingenious Film Partners,Twentieth Century Fox Film Corporation,Dune Entertainment,Lightstorm Entertainment,None,None,None
1,Walt Disney Pictures,Jerry Bruckheimer Films,Second Mate Productions,None,None,None,None
2,Columbia Pictures,Danjaq,B24,None,None,None,None
3,Legendary Pictures,Warner Bros.,DC Entertainment,Syncopy,None,None,None
4,Walt Disney Pictures,None,None,None,None,None,None
...,...,...,...,...,...,...,...
3054,Tiny Ponies,None,None,None,None,None,None
3055,Automatik Entertainment,Low Spark Films,Signal Film Group,None,None,None,None
3056,Miramax Films,View Askew Productions,None,None,None,None,None
3057,Dreamland Productions,None,None,None,None,None,None
3058,Thinkfilm,None,None,None,None,None,None

In [25]:
#Reset the index for merging later on
data_1=data_1.reset_index()
data_1

,index,0,1,2,3,4,5,6
0,0,Ingenious Film Partners,Twentieth Century Fox Film Corporation,Dune Entertainment,Lightstorm Entertainment,None,None,None
1,1,Walt Disney Pictures,Jerry Bruckheimer Films,Second Mate Productions,None,None,None,None
2,2,Columbia Pictures,Danjaq,B24,None,None,None,None
3,3,Legendary Pictures,Warner Bros.,DC Entertainment,Syncopy,None,None,None
4,4,Walt Disney Pictures,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...
3054,3054,Tiny Ponies,None,None,None,None,None,None
3055,3055,Automatik Entertainment,Low Spark Films,Signal Film Group,None,None,None,None
3056,3056,Miramax Films,View Askew Productions,None,None,None,None,None
3057,3057,Dreamland Productions,None,None,None,None,None,None
3058,3058,Thinkfilm,None,None,None,None,None,None

In [26]:
#check columns name
data_1.columns

Index(['index', 0, 1, 2, 3, 4, 5, 6], dtype='object')

In [27]:
#Rename the column 0 to prod_companies_x
data_1=data_1.rename(columns={0:"prod_companies_x"})
data_1

,index,prod_companies_x,1,2,3,4,5,6
0,0,Ingenious Film Partners,Twentieth Century Fox Film Corporation,Dune Entertainment,Lightstorm Entertainment,None,None,None
1,1,Walt Disney Pictures,Jerry Bruckheimer Films,Second Mate Productions,None,None,None,None
2,2,Columbia Pictures,Danjaq,B24,None,None,None,None
3,3,Legendary Pictures,Warner Bros.,DC Entertainment,Syncopy,None,None,None
4,4,Walt Disney Pictures,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...
3054,3054,Tiny Ponies,None,None,None,None,None,None
3055,3055,Automatik Entertainment,Low Spark Films,Signal Film Group,None,None,None,None
3056,3056,Miramax Films,View Askew Productions,None,None,None,None,None
3057,3057,Dreamland Productions,None,None,None,None,None,None
3058,3058,Thinkfilm,None,None,None,None,None,None

In [28]:
#Merging two df together on "index column"
df_merge=pd.merge(data_1,data_df,on="index")
df_merge

,index,prod_companies_x,1,2,3,4,5,6,release_year,prod_companies,revenue
0,0,Ingenious Film Partners,Twentieth Century Fox Film Corporation,Dune Entertainment,Lightstorm Entertainment,None,None,None,2009,"Ingenious Film Partners,Twentieth Century Fox ...",2787965087
1,1,Walt Disney Pictures,Jerry Bruckheimer Films,Second Mate Productions,None,None,None,None,2007,"Walt Disney Pictures,Jerry Bruckheimer Films,S...",961000000
2,2,Columbia Pictures,Danjaq,B24,None,None,None,None,2015,"Columbia Pictures,Danjaq,B24",880674609
3,3,Legendary Pictures,Warner Bros.,DC Entertainment,Syncopy,None,None,None,2012,"Legendary Pictures,Warner Bros.,DC Entertainme...",1084939099
4,4,Walt Disney Pictures,None,None,None,None,None,None,2012,Walt Disney Pictures,284139100
...,...,...,...,...,...,...,...,...,...,...,...
3020,3054,Tiny Ponies,None,None,None,None,None,None,1957,"United Artists,OrionNova Productions",1000000
3021,3055,Automatik Entertainment,Low Spark Films,Signal Film Group,None,None,None,None,1934,Columbia Pictures Corporation,4500000
3022,3056,Miramax Films,View Askew Productions,None,None,None,None,None,2003,"Paramount Pictures,MTV Films",7808524
3023,3057,Dreamland Productions,None,None,None,None,None,None,1999,Fine Line Features,1281176
3024,3058,Thinkfilm,None,None,None,None,None,None,1995,Dimension Films,16

In [29]:
#Drop out necessary columns, keep colmns name of 'prod_companies_x','release_year','revenue'
df_merge1 = df_merge[['prod_companies_x','release_year','revenue']]
df_merge1

             prod_companies_x  release_year     revenue
0     Ingenious Film Partners          2009  2787965087
1        Walt Disney Pictures          2007   961000000
2           Columbia Pictures          2015   880674609
3          Legendary Pictures          2012  1084939099
4        Walt Disney Pictures          2012   284139100
...                       ...           ...         ...
3020              Tiny Ponies          1957     1000000
3021  Automatik Entertainment          1934     4500000
3022            Miramax Films          2003     7808524
3023    Dreamland Productions          1999     1281176
3024                Thinkfilm          1995          16

[3025 rows x 3 columns]

In [30]:
#Rename the column name
df_merge1=df_merge1.rename(columns={'prod_companies_x':'production_companies'})
df_merge1

         production_companies  release_year     revenue
0     Ingenious Film Partners          2009  2787965087
1        Walt Disney Pictures          2007   961000000
2           Columbia Pictures          2015   880674609
3          Legendary Pictures          2012  1084939099
4        Walt Disney Pictures          2012   284139100
...                       ...           ...         ...
3020              Tiny Ponies          1957     1000000
3021  Automatik Entertainment          1934     4500000
3022            Miramax Films          2003     7808524
3023    Dreamland Productions          1999     1281176
3024                Thinkfilm          1995          16

[3025 rows x 3 columns]

In [31]:
#Save to csv file - ready to plot in Flourish
df_merge1.to_csv("Resources/data_readytoplot.csv")